# Copy this file to .env and insert your specific environment variables
VITE_GOOGLE_SHEET_ID=1YTo31A2Uyt6RpI1fV_mgDbwbTbR2jVW3YvJLZ-kGBcA
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxYOUR_DEPLOYED_ID_HERE/exec
